.VF-Container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    background: #fff;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
    font-family: Montserrat, sans-serif;
    margin: auto;
  }
  .HD-formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .HD-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .VB-Container {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .VF-heading {
    display: flex;
  }
  .VF-h1 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin: 0%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #364863;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
  }
  .VF-h2 {
    font-size: 1.1rem;
    line-height: 1.6rem;
    letter-spacing: 0.03em;
    color: #364863;
    text-align: center;
    margin: 0%;
    padding-top: 0.5rem;
    font-weight: 500;
  }
  .HD-form-input {
    width: 34.5rem;
    height: 3.25rem;
    background: #eef0f4;
    color: #364863;
    font-size: 1rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    padding: 0 0 0 2rem;
    line-height: normal;
    font-family: Montserrat,sans-serif;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.HD-form-input:focus{
border: 2px solid #FA575C;
}
.input-small {
  width: 14.25rem;
}
  .VF-Container select {
    width: 16rem;
    font-size: 1rem;
    font-weight: normal;
    font-family: Montserrat, sans-serif;
    color: #364863;
    line-height: normal;
    border-radius: 1rem;
    height: 3.25rem;
    border: 2px solid transparent;
    background: #eef0f4;
    padding: 0px 0px 0px 2rem;
    margin: 1rem;
  }
  
  .VF-Container select:focus {
    outline: none;
    border: 2px solid #FA575C;
  }
  
  .VF-Container option[value=""][disabled] {
    display: none;
  }
  
  .VF-Container option {
    font-size: 1rem;
    font-weight: normal;
    font-family: Montserrat, sans-serif;
    color: #364863;
    line-height: normal;
  }
  
  ::-webkit-calendar-picker-indicator {
    padding-right: 0.7rem;
  }
  @media(max-width:600px){
    .HD-form-input
    {
      width:25rem;
    }
    .VF-Container select {
      width: 25rem !important;
    }
  }
  @media (max-width: 426px) {
    .VF-Container .input-small {
      width: 20rem !important;
    }
    .HD-form-input
    {
      width:20rem;
    }
    .VF-Container select {
      width: 20rem !important;
    }
  }